{% include "layout.html" %}

{% include "title.html" %}

{% include "navbar.html" %}


    <div id="chat">
        <div class='chat-container'>
            <div class="chat-interface">
                {% for msg in messages %}
                <div class="messageContainer">
                    <p class="date">{{msg.author}}</p>
                    <p class="message">
                        {{ msg.content }}
                    </p>
                </div>                
                {% endfor %}
            </div>
            <div class="bottom-chat">
                <input type="textfield" id="message-content">
                <button type="submit" id="sendMsg">Envoyer</button>
            </div>
        </div>
    </div>
{% include "footer.html" %}

<script>

    // Initialise la connexion au serveur Socket.IO
    const socket = io()
    // Une fois connecté, l'evenement "connect" est déclenché
    socket.on('connect', () => {
        console.log('connected !')
        // Envoi de l'event "event-name" au serveur
        socket.emit('event-name', { ladata: 'bonjour' })
    })
    

    function displayMessage(htmlMessage) {
        document.querySelector(".chat-interface").innerHTML += htmlMessage
    }

    window.addEventListener('load', function () {

        let testinterface = document.querySelector(".chat-interface")
        testinterface.scrollTop = testinterface.scrollHeight

        // let messageExample = {
        //     content: "salut c'est un message",
        //     time: Date.now()
        // }

        // let htmlMessage = '<div class="messageContainer"><p class="date">' + messageExample.time
        //  + ' : </p><p class="message">' + messageExample.content + '</p></div>'

        document.querySelector("#sendMsg").addEventListener("click", ()=>{
            //displayMessage(htmlMessage)
            var cookieUser = document.cookie
            const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('pseudo='))
            .split('=')[1];
            console.log(cookieUser);

            console.log("cookie : " + cookieValue);
            let content = document.getElementById('message-content').value
            document.getElementById('message-content').value = ""
            socket.emit('message-sent', { data: content, cookieValue })

        })

        socket.on('messageRegistered', data => {
            console.log(' la data :' + data)
            console.log(data.message)
            console.log(data.pseudo)
            document.querySelector(".chat-interface").innerHTML += data.pseudo + ' : ' + data.  message + '<br>'
            let testinterface = document.querySelector(".chat-interface")
            testinterface.scrollTop = testinterface.scrollHeight
            data = ""
            // data.messages.forEach(element => {
            //     console.log(element.content)
            //     var content = element.content
            //     displayMessage(content)
            // });
        })
    })

    
</script>
