<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout"><button>LOGOUT</button></a>
    <a href="/pages/login"><button>LOGIN</button></a>

    <h1>coucou Anis</h1>
    <p>{{ title }}</p>
    <form action="/register" method="post">
        <input type="email" name="mail">
        <input type="password" name="password">
        <input type="submit">
    </form>

    <!-- <h1>login</h1>
    <form action="/login" method="post">
        <input type="email" name="mail">
        <input type="password" name="password">
        <input type="submit">
    </form> -->
    
</body>
</html>