{% include "layout.html" %}

    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>

            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/interfaceAdmin">Interface Admin</a>
            </li>
            {% if isConnected %}
            <li class="log">
                <a href="/logout">Se déconnecter</a>
            </li>
            {% else %}
            <li class="log">
                <a href="/login">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% include "footer.html" %}