html, body {
    height: 100%;
    background-color: #EDB5B5;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    text-align: center;
    font-size: 45px;
}
#chat {
    .chat-container {
        position: relative;
        width: 600px;
        height: 500px;
        background-color: white;
        margin: auto;
        .chat-interface {
            height: 100%;
            overflow-y: scroll;
            .messageContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                .date {
                    font-size: 11px;
                }
                .message {
                    color: aqua;
                }
            }
        }
        .bottom-chat {
            display: flex;
            align-items: end;
            input {
                width: 100%;
            }
        }
    }
}
nav {
    max-width: 1200px;
    margin: auto;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        li {
            font-weight: bold;
            margin-left: 20px;
        }
        li:last-child {
            margin-left: auto;
        }
    }
}